.button {
  border: 0;
  background-color: #1D9A6C;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1;
  color: #ffffff;
  padding: 0.75rem 1rem;
  transition: transform 100ms ease-in-out;
  border-radius: 2px;
  white-space: nowrap;
}

.button:hover {
  cursor: pointer;
}

.buttonWithIcon {
  display: inline-flex;
  align-items: center;
  padding-left: 1em;
}
.buttonWithIcon svg {
  margin-right: 0.5em;
}
.buttonLarge.buttonWithIcon {
  padding-left: 1.5em;
}


.button:hover {
  transform: scale(1.1);
}
.buttonLarge:hover {
  transform: scale(1.04);
}

.button:active {
  transform: translateY(1px);
  background: #77a65a;
}

.buttonLarge {
  font-size: 1.25rem;
  padding: 1rem 2rem;
  /* border-radius: 2em; */
  /* box-shadow: 0px 1px 4px rgba(0,0,0,0.3); */
}

.buttonInverted {
  background: #fbf2e6;
  color: #032120;
}

.buttonStroke,
.buttonStroke:active {
  background: none;
  color: #fff;
  border: 1px solid white;
}
