.footer {
    margin-top: 5rem; /* To offset separator */
    background: #032120;
    overflow: hidden;
    padding: 6rem 0;
}
.footerInner  {
  max-width: 80%;
  margin: 0 auto;
}

.footerCols {
  flex-wrap: wrap;
}
.footerCol {
  flex: 1 1 25%;
}
.footerCol:last-of-type {
  text-align: center;
}

@media (max-width: 980px) {
  .footerInner  {
    max-width: 90%;
  }
}
@media (max-width: 768px) {
  .footerLastCol {
    display: block;
  }
}
  
  .footer p {
    color: rgba(0,0,0,0.5);
    margin: 1em 0;
  }
  
  .footer a {
    display: block;
    margin: 2rem 0;
    padding: none;
    border: none;
    color: #1d9a6c;
    text-decoration: none;
    font-weight: bold;
    transition: color .2s ease-in-out;
  }
  .footer a:hover {
    color: #74C68C;
  }
  
  p.copyright{
    margin: 2em;
    text-align: center;
    color: rgba(0,0,0,0.4);
  }